<html>
<head>
	<title>Media</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<style>
		panel{
			display: none;
			padding:10px
		}
	</style>
</head>
<body>
	<!--login panel-->
	<panel id="login">
		<div class="container">
			<div class="card">
				<h4 class="card-header">Login</h4>
				<div class="card-body">
					<input type="text" class="form-control" placeholder="Username" id="username"/>
					</br>
					<input type="text" class="form-control" placeholder="Password" id="password"/>
					</br>
					<button class="btn btn-primary" id="loginBTN">Login</button>
				</div>
			</div>
		</div>
	</panel>
	
	<!--dashboard panel-->
	<panel id="dashboard">
		<div class="container">
			<div class="card">
				<h4 class="card-header">Dashboard</h4>
				<div class="card-body">
					<table class="table" id="tableDashboard">
						<thead>
							<tr>
								<th>id</th>
								<th>filename</th>
								<th>size</th>
								<th>type</th>
								<th>date</th>
								<th>text</th>
								<th>#</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<div class="w-100 text-center mt-2 mb-2" id="spinnerDashboard">
						<div class="spinner-border text-primary" role="status">
						  <span class="visually-hidden">Loading...</span>
						</div>
					</div>
					<div class="w-100 text-center">
						<button class="btn btn-outline-primary btn-sm rounded-pill" id="pagingPrevious">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
							  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
							</svg>
							Previous
						</button>
						<button class="btn btn-outline-primary btn-sm rounded-pill" id="pagingNext">
							Next
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
							  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</panel>
</body>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script>
		//global variabels
		var Token = ""
		var Limit = 10, Offset = 0
		
		//
		//byte to human
		//
		function bytesForHuman(bytes) {
			let units = ['B', 'KB', 'MB', 'GB']
			let i = 0
			for (i; bytes > 1024; i++)
				bytes /= 1024;
			return bytes.toFixed(1) + ' ' + units[i]
		}
		
		//
		//update files
		//
		function getFiles(){
			if(Token == ""){
				return;
			}
			$('#tableDashboard tbody').html("")
			$('#spinnerDashboard').show()
			$.get('api/'+Token+'/get_files/'+Limit+'/'+Offset, function(data){
				$('#spinnerDashboard').hide()
				for(let f in data.files){
					let row = "<tr>"
					row += "<td>"+(parseInt(f) + Offset)+"</td>"
					row += "<td>"+(data.files[f].filename == "" ? "N/A" : data.files[f].filename)+"</td>"
						row += "<td>"+bytesForHuman(data.files[f].size)+"</td>"
					row += "<td>"+data.files[f].type+"</td>"
					row += "<td>"+data.files[f].time+"</td>"
					row += "<td>"+(data.files[f].message == "" ? "N/A" :  data.files[f].message)+"</td>"
					row += "<td><span class='badge text-bg-primary' id='downloadBtn' data-tid='"+data.files[f].id+"'>Download</span></td>"
					row += "</tr>"
						
					$('#tableDashboard tbody').append(row)
				}
			})
		}
		
		$(document).ready(function() {
			//
			//check login
			//
			if(Token == ""){
				$('#login').show()
			}else{
				$('#dashboard').show()
				getFiles()
			}
			
			//
			//login event
			//
			$('#loginBTN').on("click", function(e){
				username = $('#username').val()
				password = $('#password').val()
				if(username=="" || password==""){
					alert('username or password')
					return;
				}
				$(e.target).prop('disabled', true)
				$.get('/api/get_token', {username: username, password: password}, function(data){
					$(e.target).prop('disabled', false)
					if(data.token){
						Token = data.token
						$('#login').hide()
						$('#dashboard').show()
						getFiles()
					}
				})
			})
			
			
			//
			//paging event
			//
			$('#pagingNext').on('click', function(e){
				Offset += Limit
				getFiles()
			})
			$('#pagingPrevious').on('click', function(e){
				if(Offset <= 0){
					return;
				}
				Offset -= Limit
				getFiles()
			})
			
			//
			//download event
			//
			$(document).on('click','#downloadBtn', function(e){
				let telegram_id = $(this).data('tid')
				$.alert({
					'title': 'download link',
					'content': "<input type='text' class='form-control' value='" + window.location.href + '/api/download/' + telegram_id + "' readonly/>"
				})
			});
		})
	</script>
</html>